@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;

.card {
  @include m.displayFlex(column, flex-start, flex-start, nowrap);
  width: 600px;
  min-width: 200px;
  padding: 1rem;
  border-radius: v.$borderRadius;
  box-shadow: v.$shadowBox;
  background-color: white;
}

.link {
  color: v.$linkDefault;
  &:hover {
    color: v.$linkHovered;
    cursor: pointer;
  }
}